!!!
%html
  %head
    %title #{@title}!
    %link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    %link(rel='javascript' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    %link(rel='javascript' href='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    %body
      .container
        %h3 csv download
        %form{action: 'sql_exec', method: 'post'}
          %textarea{:name => 'sql',class: 'form-control', rows: 20 ,id: 'comment'}
          %br
          %input{type: 'submit', value: 'send' ,class: 'btn btn-primary'}
